* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --vermelho-50: #f9dbdf;
  --vermelho-100: #ec939e;
  --vermelho-300: #df4a5e;
  --vermelho-500: #b52033;
  --vermelho-700: #6c131f;
  --vermelho-900: #24060a;
  --verde-50: #d6fef3;
  --verde-100: #83fcdc;
  --verde-300: #30f9c5;
  --verde-500: #06cf9b;
  --verde-700: #037c5d;
  --verde-900: #01291f;
  --preto-50: #eaeaea;
  --preto-100: #bfbfbf;
  --preto-300: #959595;
  --preto-500: #6a6a6a;
  --preto-700: #404040;
  --preto-900: #151515;
}
body {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
  font-size: 14px;
  color: white;
  box-sizing: border-box;
  text-align: center;
}

/* Cabeçalho */
.navegacao-top {
  font-family: 'Oswald', sans-serif;
  background-color: var(--vermelho-300);
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navegacao-top a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--vermelho-50);
  font-size: 1.25rem;
}

.titulo {
  cursor: pointer;
  font-size: 1.5rem;
}

.titulo a:hover {
  cursor: pointer;
  font-size: 1.6rem;
  transform: scale(1.1);
  transition: 0.5s all;
}

.icone-itens-cab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.icone-itens-cab a {
  padding: 5px 10px;
  color: var(--vermelho-50);
}

.icone-itens-cab a:hover {
  cursor: pointer;
  background: var(--vermelho-700);
  color: var(--preto);
  border-radius: 6px;
  transform: translateY(-2px);
  box-shadow: 0 2px 4px var(--laranja);
}

.pesquisar-input {
  width: 100%;
  max-width: 380px;
  height: 45px;
  color: var(--vermelho-900);
  background-color: var(--vermelho-50);
  padding: 10px 20px 7px;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
}

.pesquisa-itens-cab {
  display: none;
}

@media (min-width: 768px) {
  .navegacao-top {
    padding: 20px 40px;
  }

  .icone-itens-cab {
    gap: 20px;
  }

  .pesquisar-input {
    margin-top: 0;
    margin-bottom: 0;
    width: 500px;
  }
}

@media (min-width: 1000px) {
  .pesquisa-itens-cab {
    display: block;
  }
}

/* Aba de navegação */

.secao-superior-rolagem {
  font-family: 'Oswald', sans-serif;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--vermelho-100);
  padding: 0 20px;
  position: relative;
  right: 0;
  left: 0;
  gap: 25px;
}

.item-rolagem {
  border: none;
  border-radius: 20px;
  color: var(--verde-50);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.item-rolagem:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 4px var(--laranja);
}

.item-rolagem a {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--cinza-escuro);
}

@media (max-width: 768px) {
  .secao-superior-rolagem {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .item-rolagem {
    margin: 5px 0;
  }
}

/* Parte Principal */
.container-principal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px auto;
}
.texto-convite {
  color: #01291f;
  position: absolute;
  top: 9rem;
  right: 5rem;
  font-weight: bold;
  font-size: 2.5rem;
  color: var(--vermelho-900);
}
.parte-principal {
  position: relative;
  height: 100%;
  object-fit: cover;
  
}
.parte-principal::before {
  content: "";
  display: block;
  background: url("../img/barra-de-chocolate-ovos-de-pascoa-e-doces-de-gema-no-fundo-rosa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
