* {
  box-sizing: border-box;
  margin: 0;
  --azul-escuro: #154580;
  --azul-claro: #e5f1ff;
  --azul: #2196f3;
  --laranja: #ff9800;
  --amarelo-escuro: #bfb304;
  --cinza: #a6a6a6;
  --preto: #0d0d0d;
}
body {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
  font-size: 14px;
  color: white;
  box-sizing: border-box;
  text-align: center;
  background-color: var(--azul);
}
/* Cabeçalho */
.navegacao-top {
  font-family: "Alkatra", cursive;
  background-color: var(--azul-escuro);
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px black;
}
.titulo {
  cursor: pointer;
  font-size: 1.5rem;
}
.titulo a:hover {
  cursor: pointer;
  font-size: 1.6rem;
  transform: scaleX(1.2);
  transition: 0.5s all;
}
.icone-itens-cab a:hover {
  cursor: pointer;
  transition: 1s all;
  background: white;
  color: var(--preto);
  border-color: var(--laranja);
}
.navegacao-top a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  font-size: 1.25rem;
}
.pesquisar-input {
  width: 100%;
  max-width: 380px;
  height: 45px;
  border: 2px solid var(--laranja);
  background-color: white;
  padding: 10px 20px 7px;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.pesquisa-itens-cab {
  display: none;
}
@media (min-width: 768px) {
  .navegacao-top {
    padding: 20px 40px;
  }
  .icone-itens-cab {
    gap: 20px;
  }
  .pesquisar-input {
    margin-top: 0;
    margin-bottom: 0;
    width: 500px;
  }
}
@media (min-width: 1000px) {
  .pesquisa-itens-cab {
    display: block;
  }
}
.icone-itens-cab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.icone-itens-cab a {
  border: 2px solid var(--azul-escuro);
  background-color: var(--azul-escuro);
  border-radius: 20px;
  padding: 5px 10px;
  color: var(--laranja);
}
/* Aba de navegação */

.secao-superior-rolagem {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--azul-claro);
  padding: 0 20px;
  position: fixed;
  right: 0;
  left: 0;
  gap: 25px;
  box-shadow: 0 2px 4px black;
  margin-top:2px;
}

.item-rolagem {
  border: none;
  background-color: white;
  border-radius: 20px;
  padding: 5px 10px;
  color: var(--cinza);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.item-rolagem:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item-rolagem a {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--cinza-escuro);
}

@media (max-width: 768px) {
  .secao-superior-rolagem {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .item-rolagem {
    margin: 5px 0;
  }
}
